[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
neovim = "*"
pynvim = "*"
yapf = "*"
pytest = "*"
pre-commit = "*"
mypy = "*"
isort = "*"
ipython = "*"

[packages]

[requires]
python_version = "3.7"
