[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
neovim = "*"
pynvim = "*"
pytest = "*"
pre-commit = "*"
mypy = "*"
isort = "*"
ipython = "*"
black = "==19.10b0"
flake8-bugbear = "*"
jupyter = "*"

[packages]

[requires]
python_version = "3.7"
